1. Please use the shell script "deploy.sh" to do the testing. Remember we need to test with xcrun simctl list devices available | grep -i "iOS 26" 

2. Please use this mcp tool to get the latest apple docs, especially when stuck. Please remember that AlarmKit is the new iOS Framework started in iOS 26.0 We are using but not limited to the AlarmKit framework in iOS 26, with Xcode Developer Beta 26 v4.  
mcp tool name = apple-doc-mcp
- list_technologies
- get_documentation
- search_symbols
- check_updates

3. Make todos whenever possible, smaller tasks and quick testing

4. Please use web as another tool when stuck and needed

5. I am using xcode in conjunction to build and test so if anything ther is needed to be done manually please let me know. 